# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [8]:
import pandas as pd
import numpy as np

# Seu código aqui
indexs = pd.Series([1900, 1920, 1940, 1960, 1980, 2000, 2020])
indexs

0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64

#### 2) Coloque os anos nos índices conforme a tabela.

In [10]:
# seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(data=dados, index=indexs)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [19]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   100.505605   99.004293  107.045990
1    85.146519  110.255227  106.788850
2    91.050877  102.451877   99.185941
3   113.206658  108.518357  120.723362
4   101.013971   99.253266  103.629529
5   104.287997  107.954336   96.321092
6   102.615816  109.248385  106.356194
7    78.034396  101.106203  105.619816
8   110.320167  107.390362   94.242214
9   111.763366  118.343231   98.603363
10   83.966481  101.071620  100.780790
11   93.891851  110.239655   98.408005
12   87.954101  107.014572  104.135586
13  106.166736  102.387058  119.214779
14  106.513638  101.271213  106.947433
15   79.923743  111.348109  114.510361
16  107.988576  105.070582  110.845482
17  100.066435   99.983117  106.154531
18  119.482306  115.315838   88.276432
19   99.011183   97.086565  100.245993

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [26]:
#seu código aqui
# Muda o nome das colunas
df.columns = ['x1', 'x2', 'x3']

# Muda o nome dos index
df.index = np.arange(1, 21)
df

            x1          x2          x3
1   100.505605   99.004293  107.045990
2    85.146519  110.255227  106.788850
3    91.050877  102.451877   99.185941
4   113.206658  108.518357  120.723362
5   101.013971   99.253266  103.629529
6   104.287997  107.954336   96.321092
7   102.615816  109.248385  106.356194
8    78.034396  101.106203  105.619816
9   110.320167  107.390362   94.242214
10  111.763366  118.343231   98.603363
11   83.966481  101.071620  100.780790
12   93.891851  110.239655   98.408005
13   87.954101  107.014572  104.135586
14  106.166736  102.387058  119.214779
15  106.513638  101.271213  106.947433
16   79.923743  111.348109  114.510361
17  107.988576  105.070582  110.845482
18  100.066435   99.983117  106.154531
19  119.482306  115.315838   88.276432
20   99.011183   97.086565  100.245993

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [27]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3'])/3
df

            x1          x2          x3       media
1   100.505605   99.004293  107.045990  102.185296
2    85.146519  110.255227  106.788850  100.730199
3    91.050877  102.451877   99.185941   97.562898
4   113.206658  108.518357  120.723362  114.149459
5   101.013971   99.253266  103.629529  101.298922
6   104.287997  107.954336   96.321092  102.854475
7   102.615816  109.248385  106.356194  106.073465
8    78.034396  101.106203  105.619816   94.920138
9   110.320167  107.390362   94.242214  103.984248
10  111.763366  118.343231   98.603363  109.569987
11   83.966481  101.071620  100.780790   95.272963
12   93.891851  110.239655   98.408005  100.846504
13   87.954101  107.014572  104.135586   99.701420
14  106.166736  102.387058  119.214779  109.256191
15  106.513638  101.271213  106.947433  104.910761
16   79.923743  111.348109  114.510361  101.927404
17  107.988576  105.070582  110.845482  107.968213
18  100.066435   99.983117  106.154531  102.068028
19  119.482306  115.315838   88.276432  107.691525
20   99.011183   97.086565  100.245993   98.781247

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [32]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   100.505605   99.004293  107.045990  102.185296  4.626788
2    85.146519  110.255227  106.788850  100.730199  4.612446
3    91.050877  102.451877   99.185941   97.562898  4.580497
4   113.206658  108.518357  120.723362  114.149459  4.737509
5   101.013971   99.253266  103.629529  101.298922  4.618076
6   104.287997  107.954336   96.321092  102.854475  4.633315
7   102.615816  109.248385  106.356194  106.073465  4.664132
8    78.034396  101.106203  105.619816   94.920138  4.553036
9   110.320167  107.390362   94.242214  103.984248  4.644239
10  111.763366  118.343231   98.603363  109.569987  4.696563
11   83.966481  101.071620  100.780790   95.272963  4.556746
12   93.891851  110.239655   98.408005  100.846504  4.613600
13   87.954101  107.014572  104.135586   99.701420  4.602180
14  106.166736  102.387058  119.214779  109.256191  4.693696
15  106.513638  101.271213  106.947433  104.910761  4.653110
16   79.923743  111.348109  114.510361  101.927404  4.624261
17  107.988576  105.070582  110.845482  107.968213  4.681837
18  100.066435   99.983117  106.154531  102.068028  4.625640
19  119.482306  115.315838   88.276432  107.691525  4.679271
20   99.011183   97.086565  100.245993   98.781247  4.592908